<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="contact.css">
    <body style="background-color: #DDF2F9;">
   
        <title>PREMOSY</title>
        <meta charset="UTF-8">
        <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Itim">
        <style>
            html{
                font-family: Itim;
            }
        </style>

</body>
<div class="head">
    <head>
    <h1 style="text-align:center;font-family:Itim;">PREMOSY</h1>
        
</div>

<div class="navhome">
    <nav>
        <img src="photo/2.png" style="width: 70px; position: absolute;top: 200px; left: 98px;">
        <a href="home.html" style="text-decoration: none; color: black;position: absolute; top: 280px; left: 100px;">หน้าแรก</a>
 
        <img src="photo/3.png" style="width: 70px; position: absolute;top: 200px; left: 715px;">
        <a href="status.html"style="text-decoration: none; color: black;position: absolute; top: 280px; left: 700px;">สถานะห้องน้ำ</a>
 
        <img src="photo/4.png" style="width: 70px; position: absolute;top: 210px; left: 1340px;">
        <a href="contact.html"style="text-decoration: none; color: black;position: absolute; top: 280px; left: 1340px;">ติดต่อเรา</a> 
    </nav>
      
</div>

<div class="grid1">
    
    <div class="main1">
        <div class="img1">
            <img class="imgjoy" src="photo/9.jpg"> 
            
        </div>
    
    </div>
    <div class="joy">
        
        <h3><B> นางสาวเจนจิรา  อินทรสุข รหัสนักศึกษา 61030009</h3>
        <h3><B> ที่อยู่ปัจจุบัน 653/13 ซอย ฉลองกรุง1 หมู่บ้าน/หอพักA&J Mansion  </B></h3>
        <h3><B> โซน RNP Place ตึกC ห้องC307 </B></h3>
        <h3><B> หมู่ที่  -    ถนน  -    ตำบล/แขวง ลาดกระบัง </B></h3>
        <h3><B> อำเภอ/เขต ลาดกระบัง  จังหวัด กรุงเทพมหานคร </B></h3>
        <h3><B> โทรศัพท์ 0983812144 </B></h3>
        <h3><B> Email : 61030009@kmitl.ac.th </B></h3>

    </div>
</div>


<div class="grid2">
    
    <div class="main2">
        <div class="img2">
            <img class="imgtom" src="photo/10.jpg"> 
            
        </div>
    
    </div>
    <div class="tom">
        
        <h3><B> นายธนากร  อินหา รหัสนักศึกษา 61030026</h3>
            <h3><B> ที่อยู่ปัจจุบัน 168 ซอย ลาดกระบัง52 แยก8 หมู่บ้าน/หอพัก หอพักกนิษฐา  </B></h3>
            <h3><B> หมู่ที่  -    ถนน  -    ตำบล/แขวง ลาดกระบัง </B></h3>
            <h3><B> อำเภอ/เขต ลาดกระบัง  จังหวัด กรุงเทพมหานคร </B></h3>
            <h3><B> โทรศัพท์ 0922324553 </B></h3>
            <h3><B> Email : 61030026@kmitl.ac.th </B></h3>

    </div>
</div>

<div class="grid3">
    <div class="main3">
        <div class="img3">
            <img class="imgearn" src="photo/11.jpg"> 
            
        </div>
    </div>
    <div class="earn">
        <h3><B> นางสาวสกุลรัตน์  ปลูกสกุล รหัสนักศึกษา 61030057</h3>
        <h3><B>ที่อยู่ปัจจุบัน 653/13 ซอย ฉลองกรุง1 หมู่บ้าน/หอพักA&J Mansion  </B></h3>
        <h3><B> โซน RNP Place ตึกC ห้องC304 </B></h3>
        <h3><B> หมู่ที่  -    ถนน  -    ตำบล/แขวง ลาดกระบัง </B></h3>
        <h3><B> อำเภอ/เขต ลาดกระบัง  จังหวัด กรุงเทพมหานคร </B></h3>
        <h3><B> โทรศัพท์ 0925694637 </B></h3>
        <h3><B> Email : 61030057@kmitl.ac.th </B></h3>

    </div>
</div>
</head>
</html>