<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="home.css">
    <body style="background-color: #DDF2F9;">

   
    <title>PREMOSY</title>
    <meta charset="UTF-8">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Itim">
    <style>
        html{
            font-family: Itim;
        }
    </style>

</body>
<div class="head">
    <head>
        <h1 style="text-align:center;"> PREMOSY</h1>
        
</div>

<div class="navhome">
    <nav style="text-align:center;">
        <img src="photo/2.png" style="width: 70px; position: absolute;top: 200px; left: 98px;">
       <a href="home.html" style="text-decoration: none; color: black;position: absolute; top: 280px; left: 100px;">หน้าแรก</a>

       <img src="photo/3.png" style="width: 70px; position: absolute;top: 200px; left: 715px;">
       <a href="status.html"style="text-decoration: none; color: black;position: absolute; top: 280px; left: 700px;">สถานะห้องน้ำ</a>

       <img src="photo/4.png" style="width: 70px; position: absolute;top: 210px; left: 1340px;">
        <a href="contact.html"style="text-decoration: none; color: black;position: absolute; top: 280px; left: 1340px;">ติดต่อเรา</a> 
    </nav>
</div>

<div class="grid1">
    <div class="name"  style="text-align: center;" style="width: 100%;">
        <br/>
        <br/>
        <br/>
        <p1>ระบบตรวจสอบจำนวนคนในห้องน้ำสาธารณะ</p1> <br/>
        <p2>Public restroom Monitoring system. </p2>
    </div>
    <div class="name">
        <img src="photo/5.jpg" style="width: 100%;">
    </div>
</div>


<div class="grid2">
    <div class="content1">
        <img src="photo/7.jpg" style="width: 100%;">
    </div>
    <div class="content1" style="text-align: center;" style="width: 100%;"> 
        <br/>
        <br/><br/>
        <br/>
        <br/>
        <p1>เชื้อโควิด-19 ที่สามารถ</p1> <br/>
        <p2>แพร่เชื้อได้ผ่านทางอากาศ ได้เร็วมาก และสิ่งอำนวยความสะดวกที่สำคัญอย่างหนึ่ง </p2> <br/>
        <p3>ที่สามารถเป็นที่แพร่เชื้อได้คือ ห้องน้ำสาธารณะ ที่มีผู้เข้ามาเป็นจำนวนมาก และเราไม่</p3> <br/>
        <p4>สามารถรู้ได้เลยว่าห้องน้ำนั้นมีความแออัดหรือไม่ มีจำนวนกี่คน  หรือมีห้องว่างให้เข้า</p4> <br/>
        <p5>ได้หรือไม่ จึงทำให้ มีการต่อคิวเข้าเป็นเวลานาน เกิดการแออัดมากขึ้น ซึ่งมีโอกาส </p5> <br/>
        <p6>ในการแพร่เชื้อโควิด-19 มากขึ้น และเสี่ยงต่อการ รับเชื้อโควิด-19 ได้</p6>
    </div>
</div>


<div class="grid3">
    <div class="content2"  style="text-align: center;" style="width: 100%;">
        <br/>
        <br/>
        <br/><br/><br/>
        <br/>
        <p1>ดังนั้นจึงเสนอวิธีที่จะสามารถรู้ถึงตำแหน่งของห้องน้ำสาธารณะ</p1> <br/>
        <p2>บริเวณรอบ ๆ และทราบจำนวนคนที่อยู่ในห้องน้ำสาธารณะ ณ ขณะนั้น  </p2> <br/>
        <p3>ว่าแออัดหรือไม่ มีจำนวนกี่คน และมากเกินกว่าจำนวนห้องสุขาหรือไม่</p3> <br/>
        <p4>โดยการตรวจสอบสถานะ ผ่านเว็บไซต์ที่ทั้งสะดวกต่อการใช้งาน </p4> <br/>
        <p5>และเช็คได้ตลอดเวลา</p5>
    </div>
    <div class="content2">
        <img src="photo/8.jpg" style="width: 100%;">
    </div>
</div>  

    


</head>

</html>