
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="status.css">
    <body style="background-color: #DDF2F9;">
   
    <title>PREMOSY</title>
    <meta charset="UTF-8">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Itim">
    <style>
        html{
            font-family: Itim;
        }
    </style>

</body>
<div class="head">
    <head>
        <h1 style="text-align:center;">PREMOSY</h1>
        
</div>

<div class="navhome">
    <nav style="text-align:center;">
      <img src="photo/2.png" style="width: 70px; position: absolute;top: 200px; left: 98px;">
      <a href="home.html" style="text-decoration: none; color: black;position: absolute; top: 280px; left: 100px;">หน้าแรก</a>

      <img src="photo/3.png" style="width: 70px; position: absolute;top: 200px; left: 715px;">
      <a href="status.html"style="text-decoration: none; color: black;position: absolute; top: 280px; left: 700px;">สถานะห้องน้ำ</a>

      <img src="photo/4.png" style="width: 70px; position: absolute;top: 210px; left: 1340px;">
        <a href="contact.html"style="text-decoration: none; color: black;position: absolute; top: 280px; left: 1340px;">ติดต่อเรา</a> 
    </nav>
</div>

<img src="photo/12.jpg" style="width: 100%" > 

<div class="box">

  <h3>เลือกห้องน้ำที่คุณต้องการทราบสถานะ </h3>
  <div class="bd">
    <label for="building">เลือกตึก:</label>
  
    <select id="building">
      <option value="จอมไตร">จอมไตร</option>
      <option value="ครุศาสตร์">ครุศาสตร์</option>
    </select>
  </div>
  
  <div class="fr">
    <label for="floor">เลือกชั้น:</label>
  
    <select id="floor">
      <option value="ชั้น 1">ชั้น 1</option>
      <option value="ชั้น 2">ชั้น 2</option>
      <option value="ชั้น 3">ชั้น 3</option>
      <option value="ชั้น 4">ชั้น 4</option>
      <option value="ชั้น 5">ชั้น 5</option>
      <option value="ชั้น 6">ชั้น 6</option>
    </select>
  </div>
  
  <div class="lt">
    <label for="location">เลือกตำแหน่ง:</label>
  
  <select id="location">
    <option value="หน้าห้อง 3D">หน้าห้อง 3D</option> <br><br>
    <option value="โรงอาหาร">โรงอาหาร</option> <br><br>
    <option value="ข้างห้อง Lab สาขาครุเกษตรชั้น 1">ข้างห้อง Lab สาขาครุเกษตรชั้น 1</option><br><br>
    <option value="ข้างห้องคอม" selected>ข้างห้องคอม</option><br><br>
  </select>
  </div>
     
  <a class="buttonNext" href="statusnext.html">Next</a>
    

</div>



</head>

</html>