
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="statusnext.css">
    <body style="background-color: #DDF2F9;">
   
    <title>PREMOSY</title>
    <meta charset="UTF-8">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Itim">
    <style>
        html{
            font-family: Itim;
        }
    </style>

</body>
<div class="head">
    <head>
        <h1 style="text-align:center;">PREMOSY</h1>
        
</div>

<div class="navhome">
    <nav style="text-align:center;">
        <img src="photo/2.png" style="width: 70px; position: absolute;top: 200px; left: 98px;">
        <a href="home.html" style="text-decoration: none; color: black;position: absolute; top: 280px; left: 100px;">หน้าแรก</a>
 
        <img src="photo/3.png" style="width: 70px; position: absolute;top: 200px; left: 715px;">
        <a href="status.html"style="text-decoration: none; color: black;position: absolute; top: 280px; left: 700px;">สถานะห้องน้ำ</a>
 
        <img src="photo/4.png" style="width: 70px; position: absolute;top: 210px; left: 1340px;">
        <a href="contact.html"style="text-decoration: none; color: black;position: absolute; top: 280px; left: 1340px;">ติดต่อเรา</a> 
    </nav>
</div>



<div class="grid1">
    <div class="name"   style="width: 100%;">
        <h3 style="text-align: left;">ตำแหน่งของห้องน้ำ</h3>
        <p1><dd>ตึกครุศาสตร์อุตสาหกรรม และเทคโนโลยี</dd></p1> <br/>
        
        <p2><dd>ชั้น1 </dd></p2><br/>
        
        <p3><dd>โรงอาหาร</dd></p3>
    </div>
    <div class="name">
        <img src="photo/13.jpg" style="width: 100%;">
    </div>
</div>


<div class="grid2">
    <div class="content1">
        <img src="photo/14.png" style="width: 70%; ">
    </div>
    <div class="content1"  style="width: 100%;"> 
        <h1 style="text-align: left;">ห้องน้ำชาย</h1>
        <table style="font-size: 30px; text-align: left; position: absolute;left: 600px;" >
            <tr  >
              <td>จำนวนห้องสุขา  </td>
              <td class="count">.........................</td>
              <td>ห้อง</td>
            </tr>
            <tr>
              <td>จำนวนโถสุขภัณฑ์ </td>
              <td class="restroom">........................</td>
              <td>โถ</td>
            </tr>
            <tr>
              <td>จำนวนคน</td>
              <td class="toilet">........................</td>
              <td>คน</td>
            </tr>
          </table>
        
    </div>
</div>


<div class="grid3">
    <div class="conten2">
        <img src="photo/15.png" style="width: 70%; ">
    </div>
    <div class="content2"  style="text-align: center;" style="width: 100%;">
        <h1 style="text-align: left;">ห้องน้ำหญิง</h1>
        <table style="font-size: 30px; text-align: left; position: absolute;left: 600px;" >
            <tr  >
              <td>จำนวนห้องสุขา  </td>
              <td>.........................</td>
              <td>ห้อง</td>
            </tr>
            <tr>
              <td>จำนวนโถสุขภัณฑ์ </td>
              <td>........................</td>
              <td>โถ</td>
            </tr>
            <tr>
              <td>จำนวนคน</td>
              <td>........................</td>
              <td>คน</td>
            </tr>
          </table>
    </div>
</div>  

<footer style="background-color: #DDF2F9;">
    <a class="buttonBack" href="status.html">Back</a>
</footer>
<script src="./js/script.js"></script>

</html>